div1#(a=b)id.foo.bar
div2(a=b)#id.foo.bar
(a=b)#id.foo.bar
div3#id(a=b).foo.bar
div4#id.(a=b)foo.bar
div5#id.foo(a=b).bar
div6#id.foo.(a=b)bar
div7#id.foo.bar(a=b)
div8.foo.bar(a=b)#id
div9.foo.bar#id(a=b)
foo(
 a=200
 b=300)
bar(a='1'
 b=2)
input#new(type="submit", name="new", value!="aaa")
