each val in [1, 2, 3, 4, 5]
  li= val

each val, index in ['zero', 'one', 'two']
  li= index + ': ' + val

while n < 4
  li= n++

for val in [1,2,3,4]
  li=val

for val, index in ['z', 'o']
  li= index + val

for i in [1,2,3]
  li= i
else
  | Nothing to do here!