mixin complex(value)
   p#complete= value + "nice"
+#{'comp' + part}("Jade is ")
+#{'comp' + part}.qe45("Jade is ")
+#{'comp' + part}(attr=value)("Jade is ")
#{"div"}(attr=value)
   #{"span"}.qe45
      .qe45

#{tag} value
#{tag}(foo='bar') value
#{foo ? 'a' : 'li'}(something) here