a(href='/user/#{id}')
foo(bar='stuff \#{here} yup')
baz(taz='smth { with braces #{ anotherVar + function() {} } }')
tag(at='two #{first} \#{interpolations} are #{second} okay')
tag(at="two consectutive: #{first}#{and+second}?")
