foo=bar
foo= bar
foo =bar
foo = bar
foo    =    bar

ns:foo=bar
ns:foo= bar
ns:foo =bar
ns:foo = bar
ns:foo    =    bar

ns: foo=bar
ns: foo= bar
ns: foo =bar
ns: foo = bar
ns: foo    =    bar

foo!=bar
foo!= bar
foo !=bar
foo != bar
foo    !=    bar

ns:foo!=bar
ns:foo!= bar
ns:foo !=bar
ns:foo != bar
ns:foo    !=    bar

ns: foo!=bar
ns: foo!= bar
ns: foo !=bar
ns: foo != bar
ns: foo    !=    bar
