#user My name is: #{name} and my phone is !{phone} always
p \#{something}
p \\#{something} \!{a} \\!{b} \\\!{c}
p \\\#{something} !{a}
p \\\\#{something} #{bar} #{zz} ff}
h1 Hello #{name}wer #ssasdf\{}
foo #{zzz !{uuu

p.
  foo #{name} !{phone}
  bar \#{u \\!{vv
  zoo !{zxc} dsf
  u #{ !{ #{ #{}