p
    | Interpolation is also supported. The
    | 1. username is currently "#{name}".
    | 2. username is currently "\#{name}".
    | 3. username is currently '#{name}'.
    | 4. username is currently #{name}.
    | 5. username is currently \#{name}".
    | 6. My ID #{"is {" + id  + "}"}
    | 7. Two #{first} \#{interpolations} are #{second} ok.